<p>Listado de héroes</p>
<div *ngIf="heroesBorrado; else noBorrado">
    <h3>Héroe Borrado</h3>
    <small>
        {{ heroesBorrado }}
    </small>
</div>
<ng-template #noBorrado>
    <h3>Héroe no Borrado</h3>
</ng-template>
<button (click)="borrarHeroe()">Borrar Héroe</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i+1 }}-{{ heroe }}
    </li>
</ul>
